.table1{
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}
.table1 th, .table1 td {
    border: 1px solid #3f0000;
    padding: 2px;
}
.table1 th {
    background-color: #a80000;
    color:aliceblue
}
.p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: red;
}
.table1 tr:hover {
    background-color: #fdffc4; 
}
.table1 td img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}